@use './variables' as *;

@use 'bootstrap/scss/bootstrap' with (
  $primary: $blue-primary,
  $secondary: $gray-blue,
  $light: $gray-bg,
  $dark: $gray-dark
);
@use './buttons' as *;


body {
  font-family: 'Inter', sans-serif;
  background-color: $gray-bg;
  color: $gray-dark;
}

.formBox {
  max-width: 600px;
  margin: 0 auto;
  padding: 1rem;

  @media (max-width: 576px) {
    text-align: center;
  }
}
