@use '../../styles/variables.scss' as *;

.header {
  position: sticky;
  top: 0;
  z-index: 1000;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);

  .topbar {
    background-color: $white;
    text-align: center;
    font-size: 0.9rem;
    padding: 0.5rem 0;
    color: $gray-dark;
    border-bottom: 1px solid $gray-light;
  }

  background-color: $primary !important;

  .nav-link {
    color: $white !important;
    margin: 0 0.75rem;

    &.active {
        color: $gray-light !important;
      }
  }
}
.logoBox {
    background-color: $gray-blue;
    color: $white;
    padding: 0.2rem 0.75rem;
    font-weight: 700;
    font-size: 2rem;
    font-family: serif; 
  }
  .navbar-toggler {
    border-color: $white; 
  
    .navbar-toggler-icon {
      background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23ffffff' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(255,255,255,1)' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
    }
  }
  